# Data Wrangling with DataFrames Coding Quiz

Use this Jupyter notebook to find the answers to the quiz in the previous section. There is an answer key in the next part of the lesson.

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("Wrangling Data") \
    .getOrCreate()
path = "data/sparkify_log_small.json"
user_log = spark.read.json(path)
# TODOS: 
# 1) import any other libraries you might need
# 2) instantiate a Spark session 
# 3) read in the data set located at the path "data/sparkify_log_small.json"
# 4) write code to answer the quiz questions

# Question 1

Which page did user id "" (empty string) NOT visit?

In [18]:
user_log.printSchema()
a = user_log.select(['page', 'userId']).where(user_log.userId == "" ).groupby(user_log.page).count()
# TODO: write your code to answer question 1
a.show()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

+-----+-----+
| page|count|
+-----+-----+
| Home|  187|
|About|   15|
|Login|  126|
| Help|    8|
+-----+-----+

# Question 2 - Reflect

What type of user does the empty string user id most likely refer to?

In [20]:
# TODO: use this space to explore the behavior of the user with an empty string
a = user_log.select(['level', 'userId']).where(user_log.userId == "" ).groupby(user_log.level).count()
# TODO: write your code to answer question 1
a.show()

+-----+-----+
|level|count|
+-----+-----+
| free|  193|
| paid|  143|
+-----+-----+

# Question 3

How many female users do we have in the data set?

In [54]:
# TODO: write your code to answer question 3
a = user_log.select(['gender', 'userId']).where(user_log.gender == "F" ).groupby(user_log.userId).count()
# TODO: write your code to answer question 1
a = a.toPandas()
a.describe()
a.shape
#a = a.count.count()
#a.count = list(lambda x: float(x), a.count)

(462, 2)

# Question 4

How many songs were played from the most played artist?

In [60]:
a = user_log.select(['artist', 'sessionId']).filter(user_log.artist != "").groupby(user_log.artist).count()
# TODO: write your code to answer question 1
a = a.toPandas()
a.sort_values(by='count', ascending=False)

                                                 artist  count
414                                            Coldplay     83
3276                                      Kings Of Leon     69
3539                             Florence + The Machine     52
1337                                           BjÃÂ¶rk     46
3520                                      Dwight Yoakam     45
1822                                      Justin Bieber     43
0                                        The Black Keys     40
2037                                        OneRepublic     37
3009                                               Muse     36
1492                                       Jack Johnson     36
2361                                          Radiohead     31
182                                        Taylor Swift     29
2859                                              Train     28
38                                           Lily Allen     28
153   Barry Tuckwell/Academy of St Martin-in-the-Fie...     28
39                                           Nickelback     27
1341                                          Metallica     27
1798                                          Daft Punk     27
357                                          Kanye West     26
3203                                    Alliance Ethnik     24
2157                              Red Hot Chili Peppers     24
991                                          John Mayer     24
3310                                      Guns N' Roses     23
359                                         Linkin Park     23
2400                                             Eminem     23
448                                         The Killers     22
2759                           The All-American Rejects     22
1852                                           Harmonia     22
1703                                             Weezer     21
2226                                          Rammstein     20
...                                                 ...    ...
2003                                  We Are The Fallen      1
2004                                          Jorge Ben      1
2005                                           Mudvayne      1
2006                                        Junior Boys      1
2007                                  The Cheetah Girls      1
711                                              T.Love      1
710                                      Dee Dee Ramone      1
709                                          Biz Markie      1
708                                        Guus Meeuwis      1
2013                Sauce Money Featuring Memphis Bleek      1
706                                              Ligeia      1
714                                        David Bisbal      1
715                                    La Mosca Tse-Tse      1
716                                   Two Loons For Tea      1
1986                                          El Barrio      1
1980                                              Kudai      1
726                                          Atmosphere      1
725                                      The Waitresses      1
1983                                       Manfred Mann      1
1984                                    All Star United      1
724                                        Groucho Marx      1
1987                                      Natacha Atlas      1
720                                           Akercocke      1
1988                                       Carlos Vives      1
1989                                       Cypress Hill      1
721   JosÃÂ© Alfredo Jimenez Con AcompaÃÂ±amiento ...      1
1992                                        Pavel Dobes      1
1993                                         Norma Jean      1
1994                                         Mark Otten      1
3616                                           Stroke 9      1

[3617 rows x 2 columns]

In [ ]:
# TODO: write your code to answer question 4

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [ ]:
# TODO: write your code to answer question 5